.cartao {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    color: white;
    margin: 3px;
}

.miniCard1{
    width: 48%;
    background-color: #c0392c;
    margin: 3px;
    font-size: 2rem;
    padding: 20px;
}

.miniCard2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    background-color: white;
    margin: 3px;
    
}

.miniCard3{
    width: 48%;
    background-color: white;
    margin: 3px;
}

.miniCard4{
    width: 48%;
    background-color: #28a085;
    margin: 3px;
    font-size: 2rem;
    padding: 20px;
}